.App {
	width: 100%;
	overflow-x: hidden;
}

body {
	background-color: #faf0e6;
	padding: 40px;
}

.gallery {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-end;
	gap: 10px;
}

.cover-img {
	width: 160px;
}

.modal80 {
	max-width: none !important;
	width: 80%;
}

.modal h1 {
	font-size: 3.5rem;
}

.modal h2 {
	font-size: 2.5rem;
}

.modal p {
	font-size: 1.5rem;
}

#bookDetails {
	padding-right: 50px;
}

#modal-img {
	max-width: 100%;
	height: 550px;
	vertical-align: middle;
}

.submit {
	margin: auto;
}

#searchBar {
	height: 50px;
}

select {
	height: 50px!important;
}

#filterSort {
	margin-top: 25px;
	margin-bottom: 20px;
	font-size: large;
}

.form-label {
	font-size: large;
}

.form-input {
    margin-bottom: 15px;
}

button {
	margin: 0;
	padding: 0;
	border: none;
}

.accordion-header {
	margin-top: 0px;
}

.accordion-button {
	font-size: 2rem;
}

.mrgn-15 {
	margin: 15px 0px;
}

.mrgn-btm-15 {
	margin-bottom: 15px;
}

td {
	padding: 15px!important;
}

#descriptionText {
	position: absolute;
	left: -9999px;
}

.svg-inline--fa {
	height: 3em;
}

#viewsContainer {
    width: 100%;
    height: 20px;
}

#views {
    float: right;
}

#views button {
	margin: 0px 5px;
    background-color: white;
}

td p {
	font-size: medium;
}

th p {
	font-size: large;
}

.radio {
	padding-left: 15px;
	font-size: medium;
	text-decoration: none;
}

#filterGenre {
	font-size: small;
}

div:has(input[name=filterGenre]) {
	overflow: visible;
}

.css-13cymwt-control, .css-t3ipsp-control {
	min-height: 50px!important;
}

#filter {
	margin-bottom: 25px;
}

.genre-list {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	gap: 10px;
}

.genre-list-item {
	border-radius: 15px;
	background-color: #E8E8E8;
	padding: 7px 10px 0px 10px;
}

nav ul {
	list-style: none;
	display: flex;
	background-color: black;
	margin-bottom: 20px;
}

nav ul li {
	padding: 20px;
}

nav ul li a {
	color: white;
	text-decoration: none;
	font-size: large;
}

nav a.active {
	border-bottom: 4px solid;
}

nav a:hover, nav a:focus {
	color: lightslategrey;
	text-decoration: none;
}

.stat-text {
	font-size: x-large;
}

.flex-container {
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	align-items: flex-start;
	margin-top: 20px;
}

#toggleSidebar {
    border-radius: 0px 10px 10px 0px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.175);;
    background-color: white;
    font-size: smaller;
    padding: 5px;
    margin-right: 5px;
}

.statistics h1 {
	margin-top: 25px;
}

#sidebarContainer, #toggleSidebar {
	position: sticky;
	top: 20px;
}

#previewCoverImage {
	display: block;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
}

.text {
	font-size: medium;
}

#videoInput {
	align-items: center;
}

video {
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
}

#exportBtn {
	font-size: medium;
}

#exportBtn .svg-inline--fa {
	height: 1em;
}

.datepicker {
	width: 100%;
	margin-bottom: 15px;
}